## Introduction to pandas DataFrames

In [1]:
import pandas as pd

## Creating DataFrames from Scratch

<u>**#1: Construct a DataFrame from a dictionary of lists**</u>

In [2]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [3]:
# There is an error, because list lenghts are not consistant
data = {'ProductName':['Product A', 'Product B', 'Product C', 'Product D'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data)
df

ValueError: All arrays must be of the same length

<u>**#2: Construct a DataFrame from a dictionary of lists + specify an index**</u>

In [4]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data, index = ['A', 'B', 'C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [6]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
product_IDs = ['A', 'B', 'C']
df = pd.DataFrame(data, index = product_IDs)
# Or for line 3, we can write it alternatively: df = pd.DataFrame(data, product_IDs)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

<u>**#3: Construct a DataFrame from a list of dictionaries**<u/>

In [7]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [8]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':[12500, 100000]}]
df = pd.DataFrame(data)
df

  ProductName     ProductPrice
0   Product A            22250
1   Product B            16600
2   Product C  [12500, 100000]

In [9]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500},
        {'ProductName':'Product D'}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A       22250.0
1   Product B       16600.0
2   Product C       12500.0
3   Product D           NaN

<u>**#4: Construct a DataFrame from a dictionary of pandas Series**<u/>

In [10]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'])
ser_prices = pd.Series([22250, 16600, 12500])

In [11]:
data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [19]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['A', 'B', 'C'])

data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [16]:
# If we change the order of idecis, the pandas will match the values to the corresponding indices and reorganzie to the order provided in the index of the first Series.

ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['C', 'B', 'A'])

data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         12500
B   Product B         16600
C   Product C         22250

<u>**#5: Construct a DataFrame from a list of lists**<u/>

In [17]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [18]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500, 5000]]
df = pd.DataFrame(data)
df

           0      1       2
0  Product A  22250     NaN
1  Product B  16600     NaN
2  Product C  12500  5000.0

In [29]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [30]:
df.columns = ['ProductName', 'ProductPrice']
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [31]:
df.index = ['A', 'B', 'C']
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

<u>**#6: Construct a DataFrame in a Professional Way**<u/>

In [32]:
df = pd.DataFrame(data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]], 
                  columns = ['ProductName', 'ProductPrice'],
                  index = ['A', 'B', 'C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [33]:
df.shape

(3, 2)